<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartIndiaHackathon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BenificaryRegistrationController</display-name>
    <servlet-name>BenificaryRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.BenificaryRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenificaryRegistrationController</servlet-name>
    <url-pattern>/BenificaryRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewRegisterController</display-name>
    <servlet-name>PreviewRegisterController</servlet-name>
    <servlet-class>sis.com.controller.PreviewRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewRegisterController</servlet-name>
    <url-pattern>/PreviewRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showAllBenificiaryController</display-name>
    <servlet-name>showAllBenificiaryController</servlet-name>
    <servlet-class>sis.com.controller.showAllBenificiaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllBenificiaryController</servlet-name>
    <url-pattern>/showAllBenificiaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBenificiaryController</display-name>
    <servlet-name>ViewBenificiaryController</servlet-name>
    <servlet-class>sis.com.controller.ViewBenificiaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBenificiaryController</servlet-name>
    <url-pattern>/ViewBenificiaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAttributes</display-name>
    <servlet-name>SetAttributes</servlet-name>
    <servlet-class>sis.com.controller.SetAttributes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAttributes</servlet-name>
    <url-pattern>/SetAttributes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createSchemeDbController</display-name>
    <servlet-name>createSchemeDbController</servlet-name>
    <servlet-class>sis.com.controller.createSchemeDbController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createSchemeDbController</servlet-name>
    <url-pattern>/createSchemeDbController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicFormRegistrationController</display-name>
    <servlet-name>DynamicFormRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.DynamicFormRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicFormRegistrationController</servlet-name>
    <url-pattern>/DynamicFormRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewDynamicFormController</display-name>
    <servlet-name>PreviewDynamicFormController</servlet-name>
    <servlet-class>sis.com.controller.PreviewDynamicFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewDynamicFormController</servlet-name>
    <url-pattern>/PreviewDynamicFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFormController</display-name>
    <servlet-name>GetFormController</servlet-name>
    <servlet-class>sis.com.controller.GetFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFormController</servlet-name>
    <url-pattern>/GetFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>sis.com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakerDetails</display-name>
    <servlet-name>MakerDetails</servlet-name>
    <servlet-class>sis.com.util.MakerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakerDetails</servlet-name>
    <url-pattern>/MakerDetails</url-pattern>
  </servlet-mapping>
</web-app>